$btns: (
  "primary": (
    "bg-color": $primary,
    "active-bg-color": $primary,
    "border-color": $primary,
    "active-border-color": $primary,
    "color": $white,
    "active-color": $white,
  ),
  "outline-primary": (
    "bg-color": transparent,
    "active-bg-color": $primary,
    "border-color": $primary,
    "active-border-color": $primary,
    "color": $primary,
    "active-color": $white,
  ),
  "secondary": (
    "bg-color": $secondary,
    "active-bg-color": $secondary,
    "border-color": $secondary,
    "active-border-color": $secondary,
    "color": $white,
    "active-color": $white,
  ),
  "outline-secondary": (
    "bg-color": transparent,
    "active-bg-color": $secondary,
    "border-color": $secondary,
    "active-border-color": $secondary,
    "color": $secondary,
    "active-color": $white,
  ),
  "terciary": (
    "bg-color": $terciary,
    "active-bg-color": $terciary,
    "border-color": $terciary,
    "active-border-color": $terciary,
    "color": $white,
    "active-color": $white,
  ),
  "outline-terciary": (
    "bg-color": transparent,
    "active-bg-color": $terciary,
    "border-color": $terciary,
    "active-border-color": $terciary,
    "color": $terciary,
    "active-color": $white,
  ),
  "accent": (
    "bg-color": $accent,
    "active-bg-color": $accent,
    "border-color": $accent,
    "active-border-color": $accent,
    "color": $white,
    "active-color": $white,
  ),
  "outline-accent": (
    "bg-color": transparent,
    "active-bg-color": $accent,
    "border-color": $accent,
    "active-border-color": $accent,
    "color": $accent,
    "active-color": $white,
  ),
  "light": (
    "bg-color": $white,
    "active-bg-color": $white,
    "border-color": $white,
    "active-border-color": $white,
    "color": $dark,
    "active-color": $dark,
  ),
  "outline-light": (
    "bg-color": $dark,
    "active-bg-color": $light,
    "border-color": $light,
    "active-border-color": $light,
    "color": $white,
    "active-color": $dark,
  ),
  "dark": (
    "bg-color": $dark,
    "active-bg-color": $black,
    "border-color": $dark,
    "active-border-color": $black,
    "color": $white,
    "active-color": $white,
  ),
  "outline-dark": (
    "bg-color": $white,
    "active-bg-color": $dark,
    "border-color": $dark,
    "active-border-color": $dark,
    "color": $dark,
    "active-color": $white,
  ),
);
button,
.btn {
  cursor: pointer;
  font-family: var(--global-font-family);
}

.btn.btn-pill {
  border-radius: 50vw;
}

.btn {
  --bg-color: transparent;
  --border-color: transparent;
  --active-border-color: transparent;
  --active-bg-color: var(--default-text-color);
  --color: var(--default-text-color);
  --active-color: var(--body-bg);

  padding: 0.5rem 1rem;
  font-weight: 500;

  background-color: var(--bg-color);
  color: var(--color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  transition: background-color var(--default-animation-duration),
    border-color var(--default-animation-duration),
    color var(--default-animation-duration);
  &.btn-xl {
    padding: 0.875rem 1.5rem;
  }
  &.active,
  &:hover {
    border-color: var(--active-border-color);
    background-color: var(--active-bg-color);
    color: var(--active-color);
  }
}

.border-0 {
  border-width: 0;
}

@each $key-name, $btn in $btns {
  .btn.btn-#{$key-name} {
    --bg-color: #{map-get($btn, "bg-color")};
    --active-bg-color: #{map-get($btn, "active-bg-color")};
    --color: #{map-get($btn, "color")};
    --active-color: #{map-get($btn, "active-color")};
    --border-color: #{map-get($btn, "border-color")};
    --active-border-color: #{map-get($btn, "active-border-color")};
  }
}

.btn.btn-square {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
}
