$primary: #5ab2ff;
$secondary: #ad88c6;
$terciary: #ff70ab;
$accent: #fdde55;
$dark: #333;
$black: #000;
$light: #ccc;
$white: #fff;

$content-bg-alt: #f7dcb9;
$body-bg: $white;
$default-text-color: $dark;
$text-muted: #666;
$border-color: #ccc;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "terciary": $terciary,
  "accent": $accent,
  "dark": $dark,
  "light": $light,
  "black": $black,
  "white": $white,
  "muted": $text-muted,
);

$all-colors: (
  "content-bg-alt": $content-bg-alt,
  "body-bg": $body-bg,
  "default-text-color": $default-text-color,
  "border-color": $border-color,
);

$all-colors: map-merge($theme-colors, $all-colors);

:root {
  @each $color-key, $color-value in $all-colors {
    --#{$color-key}: #{$color-value};
  }
}

@each $color-key, $color-value in $theme-colors {
  .text-#{$color-key} {
    color: var(--#{$color-key}) !important;
  }
}
