section,
.section {
  .section-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--_background);
  }
}

section,
.section,
.show-anim {
  --_anim-duration: 0.75s;
  --_anim-delay-index: 0;
  --_anim-delay-value: calc(var(--_anim-duration) * 0.25);
  --_anim-delay: calc(var(--_anim-delay-index) * var(--_anim-delay-value));

  transition: opacity var(--_anim-duration), transform var(--_anim-duration);
  transition-timing-function: ease-out;
  transition-delay: var(--_anim-delay);
}

@media (max-width: 768px) {
  section,
  .section,
  .show-anim {
    --_anim-delay-value: 0s;
  }
}

.hide-section {
  transition: none;
  transform: translateY(40px);
  opacity: 0;
}

.no-anim section,
.no-anim .section {
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
