<section>
  <div class="container grid md:grid-cols-2 mx-auto gap-6 md:gap-16">
    <app-placeholder-img-wrapper
      customCss="rounded"
      class="min-h-80"
      [imgSrc]="sectionProps.sideImgSrc"
    ></app-placeholder-img-wrapper>
    <div class="right grid">
      <h3 class="font-semibold mb-6">
        {{ sectionProps.subtitle }}
      </h3>
      <h2 class="font-bold text-5xl mb-10">
        {{ sectionProps.title }}
      </h2>
      <p class="mb-8">
        {{ sectionProps.body }}
      </p>
      <ul class="grid md:grid-cols-2 gap-8 mb-10">
        <li
          *ngFor="let options of sectionProps.cards; let i = index"
          class="show-anim"
          [delayIndex]="i"
        >
          <app-benefit-card [options]="options"></app-benefit-card>
        </li>
      </ul>
      <app-default-button
        [outline]="true"
        [customClass]="'btn-xl'"
        class="mr-auto show-anim"
        >Learn More</app-default-button
      >
    </div>
  </div>
</section>
