<app-base-section [wavesBefore]="true">
  <div
    class="container grid md:grid-cols-2 mx-auto gap-6 md:gap-16"
    style="min-height: 80vh"
  >
    <div
      class="left my-auto grid md:pt-16 pb-16"
      [class.order-1]="sectionProps.reversed"
    >
      <h3 class="font-semibold mb-6" *ngIf="!!sectionProps.subtitle">
        {{ sectionProps.subtitle }}
      </h3>
      <h2 class="text-4xl font-bold mb-6">
        {{ sectionProps.title }}
      </h2>
      <p *ngIf="!!sectionProps.body">
        {{ sectionProps.body }}
      </p>
      <ul
        class="grid md:grid-cols-2 gap-8 my-10"
        *ngIf="!!sectionProps.cards.length"
      >
        <li
          *ngFor="let options of sectionProps.cards; let i = index"
          class="show-anim"
          [delayIndex]="i"
        >
          <app-benefit-card [options]="options"></app-benefit-card>
        </li>
      </ul>
      <app-default-button
        [outline]="true"
        [customClass]="'btn-xl'"
        class="mr-auto show-anim"
        >Learn More</app-default-button
      >
    </div>
    <app-placeholder-img-wrapper
      *ngIf="sectionProps.sideImgSrc"
      [imgSrc]="sectionProps.sideImgSrc"
      [customCss]="'rounded'"
      class="min-h-80 has-before"
      [style]="'--_deg: ' + (sectionProps.reversed ? '-90deg' : '90deg')"
    ></app-placeholder-img-wrapper>
  </div>
</app-base-section>
