<app-base-section>
  <div class="w-full max-w-xl mx-auto grid gap-6 text-center">
    <h2 class="font-bold text-4xl">
      {{ sectionProps.title }}
    </h2>
    <div class="grid gap-6">
      <p class="">
        {{ sectionProps.body }}
      </p>
      <div
        class="btn-actions flex gap-3 mx-auto"
        *ngIf="sectionProps.actionButtons"
      >
        <app-default-button
          [externalLink]="sectionProps.actionButtons.primaryButton.link"
          [label]="sectionProps.actionButtons.primaryButton.label"
        ></app-default-button>
        <app-default-button
          *ngIf="sectionProps.actionButtons.secondaryButton"
          [externalLink]="sectionProps.actionButtons.secondaryButton.link"
          [label]="sectionProps.actionButtons.secondaryButton.label"
          [outline]="true"
        ></app-default-button>
      </div>
    </div>
  </div>
</app-base-section>
