<header
  [class]="
    'py-3 flex items-center ' +
    (isSticked ? 'shadow-lg sticked ' : ' ') +
    (alwaysFixed ? 'always-fixed' : ' ')
  "
>
  <div class="nav-container container mx-auto">
    <div class="flex items-baseline gap-10">
      <h1 class="logo text-lg font-medium"><a routerLink="/">Logo</a></h1>
      <div class="btn-actions flex gap-3 ml-auto">
        <app-default-button
          [btnColor]="'dark'"
          [customClass]="'rounded-full p-0 justify-center aspect-square w-9'"
        >
          <i class="fa-solid fa-cart-shopping"></i>
        </app-default-button>
      </div>
    </div>
  </div>
</header>
