.card {
  grid-template-rows: auto 0fr;
  transition: 0.2s;
}

.card.expand {
  grid-template-rows: auto 1fr;
}

.body {
  overflow: hidden;
}

.chevron {
  transition: 0.2s;
}

.chevron.active {
  transform: scaleY(-1);
}
