<section>
  <div class="container mx-auto grid gap-6">
    <h2 class="font-bold text-4xl">
      {{ sectionProps.title }}
    </h2>
    <p class="mb-8">
      {{ sectionProps.body }}
    </p>
    <ul class="grid gap-4 mb-12">
      <li
        *ngFor="let card of sectionProps.cards; let i = index"
        class="show-anim"
        [delayIndex]="i"
      >
        <div
          class="card border border-black grid gap-3 p-3"
          (click)="setCard(i)"
          [class.expand]="i === currentCardIndex"
        >
          <p class="font-bold text-sm">
            {{ card.title }}
          </p>
          <p class="text-sm max-w-2xl body hidden">
            {{ card.body }}
          </p>
        </div>
      </li>
    </ul>
    <div class="flex flex-col items-start gap-6 show-anim">
      <h2 class="font-bold text-2xl">
        {{ sectionProps.bottomCard.title }}
      </h2>
      <p class="">
        {{ sectionProps.bottomCard.body }}
      </p>
      <app-default-button [outline]="true">Contact</app-default-button>
    </div>
  </div>
</section>
