<app-base-section>
  <div class="container mx-auto grid gap-6">
    <h2 class="font-bold text-4xl">
      {{ sectionProps.title }}
    </h2>
    <p class="mb-8">
      {{ sectionProps.body }}
    </p>
    <ul class="grid border-black mb-12">
      <li
        *ngFor="let card of sectionProps.cards; let i = index"
        class="show-anim"
        [delayIndex]="i"
      >
        <div
          class="card border-b border-black grid py-4 px-3 place-content-start"
          [class.border-t]="i === 0"
          (click)="setCard(i)"
          [class.expand]="i === currentCardIndex || expandAll"
        >
          <p class="font-bold text-sm flex items-center gap-2">
            <i
              [class]="
                'fa-solid fa-chevron-down chevron ' +
                (i === currentCardIndex || expandAll ? 'active' : '')
              "
            ></i>
            <span>
              {{ card.title }}
            </span>
          </p>
          <div class="body">
            <p class="text-sm max-w-2xl mt-3">
              {{ card.body }}
            </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="flex flex-col items-start gap-6 show-anim">
      <h2 class="font-bold text-2xl" *ngIf="sectionProps.bottomCard">
        {{ sectionProps.bottomCard.title }}
      </h2>
      <p class="" *ngIf="sectionProps.bottomCard">
        {{ sectionProps.bottomCard.body }}
      </p>
      <app-default-button
        *ngIf="sectionProps.actionButton"
        [label]="sectionProps.actionButton.label"
        [externalLink]="sectionProps.actionButton.link"
        [outline]="true"
        >Contact</app-default-button
      >
    </div>
  </div>
</app-base-section>
