<section>
  <div class="container mx-auto relative" style="padding: 2.5rem">
    <app-placeholder-img-wrapper
      [imgSrc]="sectionProps.bgImgSrc"
      class="container-bg absolute grid z-0 inset-0 brightness-50"
    ></app-placeholder-img-wrapper>
    <div class="grid gap-6 relative z-1 text-white">
      <h2 class="font-bold text-4xl">
        {{ sectionProps.title }}
      </h2>
      <p class="">
        {{ sectionProps.body }}
      </p>
      <div class="flex gap-3 items-stretch">
        <app-default-input placeholder="Your email adress"></app-default-input>
        <app-default-button>Join Now</app-default-button>
      </div>
      <span class="text-xs"
        >By joining, you agree to our Terms and Conditions.</span
      >
    </div>
  </div>
</section>
