<section>
  <div class="container grid mx-auto">
    <div class="flex items-end gap-6 section-header justify-between mb-8">
      <div class="grid">
        <h3 class="font-semibold mb-3 text-xs">
          {{ sectionProps.subtitle }}
        </h3>
        <h2 class="font-bold text-4xl mb-2">
          {{ sectionProps.title }}
        </h2>
        <p>
          {{ sectionProps.body }}
        </p>
      </div>
      <app-default-button class="hidden md:block" [outline]="true"
        >Ver mais</app-default-button
      >
    </div>
    <ul
      [class]="
        (layout === 'grid'
          ? 'grid grid-cols-2 md:grid-cols-4'
          : 'flex overflow-auto') + ' gap-6'
      "
    >
      <li [class.min-w-60]="layout === 'row'" *ngFor="let item of arrayTeste">
        <app-product-card></app-product-card>
      </li>
    </ul>
    <app-default-button
      *ngIf="layout === 'grid'"
      class="mx-auto mt-6"
      [outline]="true"
      >Ver mais</app-default-button
    >
  </div>
</section>
