section {
  > .container {
    margin-top: var(--nav-height);
  }
  overflow: hidden;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  margin: calc((1.5rem + 4vmin) * 0.5);
  border-radius: 50vw;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border: 1px solid;
  opacity: 0.5;
  transition: var(--default-animation-duration);
  overflow: hidden;
  &:hover {
    opacity: 0.85;
    transform: scale(1.05);
  }
  > .icon {
    position: relative;
    top: 50%;
    animation: iconAnim 3s infinite linear;
  }
  &.scrolled {
    transition: calc(var(--default-animation-duration) * 2);
    transform: translateX(-50%) translateY(200%);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .img-wrapper {
    padding: 3rem;
    background: linear-gradient(220.55deg, #fff6eb 0%, #dfd1c5 100%);
  }
  .scroll-down {
    margin: 0;
    margin-bottom: 3rem;
    transform: translateX(-50%);
    left: 25%;
    &:hover {
      transform: translateX(-50%) scale(1.05);
    }
  }
}

@keyframes iconAnim {
  0% {
    transform: translateY(-300%);
  }
  30%,
  70% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(200%);
  }
}
