<section [class]="'h-svh flex relative no-anim pb-0'">
  <div
    [class]="
      'container grow grid mx-auto ' +
      (sectionProps.textColor ? ' text-' + sectionProps.textColor : '')
    "
  >
    <app-placeholder-img-wrapper
      class="img-wrapper absolute inset-0"
      objectFit="cover"
      [imgSrc]="sectionProps.bgImgSrc"
      [load]="'eager'"
    ></app-placeholder-img-wrapper>
    <div
      class="content m-auto relative z-10 text-white flex flex-col gap-8 text-center justify-center items-center max-w-xl"
    >
      <h1
        class="text-5xl md:text-6xl font-bold"
        [innerHTML]="sectionProps.title"
      ></h1>
      <p>
        {{ sectionProps.subtitle }}
      </p>
      <div class="btn-actions flex gap-3 obj">
        <app-default-button>Learn More</app-default-button>
      </div>
    </div>
  </div>
  <span class="scroll-down text-white" [class.scrolled]="scrolled">
    <i class="fa-solid fa-arrow-down icon"></i>
  </span>
</section>
