section {
  overflow: hidden;
  .img-wrapper {
    filter: contrast(0.35);
  }
  > .container {
    margin-top: var(--nav-height);
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  border-radius: 50vw;
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border: 1px solid;
  opacity: 0.5;
  transition: var(--default-animation-duration);
  overflow: hidden;

  margin: 0;
  margin-bottom: 3rem;
  transform: translateX(-50%);
  left: 50%;
  &:hover {
    transform: translateX(-50%) scale(1.05);
  }
  > .icon {
    position: relative;
    top: 50%;
    animation: iconAnim 3s infinite linear;
  }
  &.scrolled {
    transition: calc(var(--default-animation-duration) * 2);
    transform: translateX(-50%) translateY(200%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .content {
    align-items: self-start;
    text-align: start;
    margin-bottom: 9rem;
    margin-top: auto;
  }
}

@keyframes iconAnim {
  0% {
    transform: translateY(-300%);
  }
  30%,
  70% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(200%);
  }
}
