<section [class]="'h-svh flex relative no-anim'">
  <div
    [class]="
      'container grow grid gap-16 mx-auto md:grid-cols-2' +
      (sectionProps.textColor ? ' text-' + sectionProps.textColor : '')
    "
  >
    <div
      class="content relative z-10 flex flex-col justify-center mx-auto gap-8 max-w-xl"
    >
      <h1 class="text-5xl font-bold">
        {{ sectionProps.title }}
      </h1>
      <p>
        {{ sectionProps.subtitle }}
      </p>
      <div class="btn-actions flex gap-3 mr-auto">
        <app-default-button [btnColor]="'dark'">Learn More</app-default-button>
      </div>
    </div>
    <div class="placeholder-img-wrapper">
      <app-placeholder-img-wrapper
        class="h-full"
        [imgSrc]="sectionProps.bgImgSrc"
        [customImgCss]="'h-full'"
      ></app-placeholder-img-wrapper>
    </div>
  </div>
  <span class="scroll-down" [class.scrolled]="scrolled">
    <i class="fa-solid fa-arrow-down icon"></i>
  </span>
</section>
