<section>
  <div class="container mx-auto grid gap-16">
    <div class="grid md:grid-cols-2 gap-6 md:gap-16">
      <div class="grid md:mb-8">
        <h3 class="font-semibold mb-6">{{ sectionProps.subtitle }}</h3>
        <h2 class="font-bold text-5xl">
          {{ sectionProps.title }}
        </h2>
      </div>
      <p>
        {{ sectionProps.body }}
      </p>
    </div>
    <ul class="grid md:grid-cols-3 gap-10">
      <li
        *ngFor="let options of sectionProps.cards; let i = index"
        class="show-anim"
        [delayIndex]="i"
      >
        <app-feature-card [options]="options"></app-feature-card>
      </li>
    </ul>
    <div class="btn-actions flex gap-3 show-anim">
      <app-default-button [outline]="true" [customClass]="'btn-xl'"
        >Learn More</app-default-button
      >
    </div>
  </div>
</section>
