<app-navbar></app-navbar>
<main>
  <app-hero-section></app-hero-section>
  <app-feature-section></app-feature-section>
  <app-feature-list-section></app-feature-list-section>
  <app-benefits-section></app-benefits-section>
  <app-stats-section></app-stats-section>
  <app-testimonials-section></app-testimonials-section>
  <app-cta-section></app-cta-section>
  <app-newsletter-section></app-newsletter-section>
  <app-faq-section></app-faq-section>
</main>
<app-footer></app-footer>
<!-- <app-loader-spinner></app-loader-spinner> -->
