<app-navbar></app-navbar>
<main>
  <app-hero-section></app-hero-section>
  <app-feature-section
    *ngFor="let props of customProps.featureSections"
    [sectionProps]="props"
  ></app-feature-section>
  <app-slider></app-slider>
  <app-benefits-section
    *ngFor="let props of customProps.benefitsSections"
    [sectionProps]="props"
  ></app-benefits-section>
  <app-cta-section [sectionProps]="customProps.ctaSection"></app-cta-section>
  <app-testimonials-section
    [sectionProps]="customProps.testimonialSection"
  ></app-testimonials-section>
  <app-faq-section [sectionProps]="customProps.faqSection"></app-faq-section>
</main>
<app-footer></app-footer>
<!-- <app-loader-spinner></app-loader-spinner> -->
<app-btn-back-to-top></app-btn-back-to-top>
