<app-navbar></app-navbar>
<main>
  <app-hero-section></app-hero-section>
  <app-feature-section
    *ngFor="let props of customProps.featureSections"
    [sectionProps]="props"
  ></app-feature-section>
  <app-our-services-section></app-our-services-section>
  <!-- <app-slider></app-slider> -->
  <app-benefits-section
    style="--_background: #eaf6ff"
    *ngFor="let props of customProps.benefitsSections"
    [sectionProps]="props"
  ></app-benefits-section>
  <app-cta-section
    class="no-anim"
    [sectionProps]="customProps.ctaSection"
    style="--_background: linear-gradient(#eaf6ff, transparent)"
  ></app-cta-section>
  <app-testimonials-section
    [sectionProps]="customProps.testimonialSection"
  ></app-testimonials-section>
  <app-faq-section [sectionProps]="customProps.faqSection"></app-faq-section>
</main>
<app-footer></app-footer>
<!-- <app-loader-spinner></app-loader-spinner> -->
<app-btn-back-to-top></app-btn-back-to-top>
