<section>
  <div class="container md:grid grid-cols-2 gap-16 mx-auto">
    <div class="left md:my-16 md:pt-16 pb-16">
      <h2 class="text-4xl font-bold mb-6">
        Discover our wide range of sustainable gardening products and tips
      </h2>
      <p class="mb-10">
        Transform your garden into an eco-friendly paradise with our sustainable
        gardening products and expert tips. Learn more or make a purchase today!
      </p>
      <div class="grid grid-cols-2">
        <div class="cell">
          <h6 class="font-bold text-xl mb-4">Explore Nature</h6>
          <p>
            Find everything you need to create a beautiful and sustainable
            garden.
          </p>
        </div>
        <div class="cell">
          <h6 class="font-bold text-xl mb-4">Explore Nature</h6>
          <p>
            Find everything you need to create a beautiful and sustainable
            garden.
          </p>
        </div>
      </div>
    </div>
    <app-placeholder-img-wrapper
      [imgSrc]="sectionProps.sideImgSrc"
      class="min-h-80"
    ></app-placeholder-img-wrapper>
  </div>
</section>
