<section>
  <div class="container md:grid grid-cols-2 gap-16 mx-auto">
    <div class="left md:my-16 md:pt-16 pb-16">
      <h2 class="text-4xl font-bold mb-6">
        {{ sectionProps.title }}
      </h2>
      <p class="mb-10">
        {{ sectionProps.body }}
      </p>
      <div class="grid grid-cols-2 gap-4">
        <div
          *ngFor="let card of sectionProps.cards; let i = index"
          class="cell show-anim"
          [delayIndex]="i"
        >
          <h6 class="font-bold text-xl mb-4">{{ card.title }}</h6>
          <p>
            {{ card.body }}
          </p>
        </div>
      </div>
    </div>
    <app-placeholder-img-wrapper
      [imgSrc]="sectionProps.sideImgSrc"
      [customCss]="'rounded'"
      class="min-h-80"
    ></app-placeholder-img-wrapper>
  </div>
</section>
