.testimonial-card {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
  &.active {
    opacity: 1;
  }
  &.previous {
    transform: translateX(-100%);
  }
  &.next {
    transform: translateX(100%);
  }
}
