<app-base-section>
  <div class="container mx-auto">
    <div
      class="grid md:grid-cols-2 gap-6 md:gap-16"
      [class.md:grid-cols-2]="!!sectionProps.bannerImgPath"
    >
      <app-placeholder-img-wrapper
        *ngIf="sectionProps.bannerImgPath"
        [imgSrc]="sectionProps.bannerImgPath"
        customCss="rounded"
        class="min-h-80"
      ></app-placeholder-img-wrapper>
      <div
        class="content grid gap-6 relative max-w-xl w-full mx-auto min-h-80 overflow-hidden"
      >
        <div
          class="testimonial-card"
          *ngFor="let card of sectionProps.cards; let i = index"
          [class.active]="i === currentCardIndex"
          [class.previous]="i === getPrevious()"
          [class.next]="i === getNext()"
        >
          <app-testimonial-card [card]="card"></app-testimonial-card>
        </div>
        <div class="controls mt-auto flex gap-3 mx-auto">
          <app-default-button [outline]="true" (_onClick)="previous()"
            ><i class="fa-solid fa-arrow-left"></i
          ></app-default-button>
          <app-default-button [outline]="true" (_onClick)="next()"
            ><i class="fa-solid fa-arrow-right"></i
          ></app-default-button>
        </div>
      </div>
    </div>
  </div>
</app-base-section>
