<section>
  <div class="container mx-auto grid gap-16">
    <div class="grid gap-6 md:gap-16 md:grid-cols-2">
      <h2 class="font-bold text-4xl">
        {{ sectionProps.title }}
      </h2>
      <p>
        {{ sectionProps.body }}
      </p>
    </div>
    <ul class="grid md:grid-cols-3 gap-6">
      <li
        *ngFor="let card of sectionProps.cards; let i = index"
        class="show-anim"
        [delayIndex]="i"
      >
        <app-stats-card [options]="card"></app-stats-card>
      </li>
    </ul>
  </div>
</section>
