<section>
  <div class="container mx-auto grid gap-16">
    <div class="grid gap-6 md:gap-16 md:grid-cols-2">
      <h2 class="font-bold text-4xl">
        Discover the Positive Impact of Sustainable Gardening
      </h2>
      <p>
        Sustainable gardening not only benefits the environment but also
        strengthens communities. By adopting eco-friendly practices and using
        our products, you can contribute to a healthier planet and create a more
        nature-connected lifestyle.
      </p>
    </div>
    <ul class="grid md:grid-cols-3 gap-6">
      <li *ngFor="let card of cards">
        <app-stats-card [options]="card"></app-stats-card>
      </li>
    </ul>
  </div>
</section>
t
